body {
  background-color: rgb(17, 17, 17);
}
.MainSection {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.leftSide {
  max-width: 300px;
  width: 90%;
  height: 670px;
  background-color: rgb(30, 30, 30);
  border-radius: 18px;
  margin-top: 50px;
}
.profile {
  height: 240px;
  position: relative;
}
.imgBack {
  background-color: rgb(57, 57, 57);
  max-width: 150px;
  width: 90%;
  height: 150px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  padding: 20px;
}
.name {
  position: absolute;
  bottom: 0;
  left: 17%;
  color: white;
  font-size: 25px;
  width: fit-content;
  text-align: center;
  font-family: "Roboto2";
}
.profMain {
  width: 150px;
  height: 35px;
  background-color: rgb(57, 57, 57);
  position: relative;
  color: white;
  font-size: 13px;
  font-family: "Roboto3";
  border-radius: 12px;
  margin: 20px auto;
}
.prof {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.image1 {
  height: 120px;
}
.line {
  width: 90%;
  height: 2px;
  background-color: rgb(57, 57, 57);
  margin: 20px auto;
}
.EmailDiv {
  width: 85%;
  height: 50px;
  margin: 20px auto;
  display: flex;
  position: relative;
}
.Icon {
  width: 50px;
  height: 50px;
  background-color: rgb(34, 32, 33);
  position: relative;
  border-radius: 50%;
}
.fa-envelope,
.fa-mobile-screen-button,
.fa-calendar-days,
.fa-location-dot {
  color: rgb(190, 190, 60);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.nameEmail {
  color: rgba(255, 255, 255, 0.623);
  font-family: "Roboto1";
}
.Phoneto,
.mailto {
  position: absolute;
  bottom: 20%;
  left: 20%;
  color: white;
  font-family: "Roboto1";
}
.namePhone,
.nameBirthday {
  margin: 0;
  color: rgba(255, 255, 255, 0.623);
  font-family: "Roboto1";
}
.IconUnion {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  column-gap: 40px;
  position: relative;
}

.fa-github,
.fa-linkedin,
.fa-instagram {
  font-size: 20px;
  color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
  transform: translateY(-10px);
}
.RightSide {
  max-width: 900px;
  width: 90%;
  height: fit-content;
  background-color: rgb(30, 30, 30);
  border-radius: 18px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.titleDiv {
  max-width: 250px;
  width: 90%;
  height: 50px;
  margin-left: 30px;
}
.Title {
  font-size: 35px;
  color: white;
  font-family: "Roboto1";
}
.line2 {
  width: 45px;
  height: 3.5px;
  background-color: yellow;
  margin-left: 30px;
}
.lists {
  width: 100%;
  display: flex;
  justify-content: end;
}
.TopSide {
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  max-width: 430px;
  width: 100%;
  height: 75px;
  background-color: rgb(40, 40, 40);
}
.navigation {
  width: 90%;
}
.ul-elements {
  display: flex;
}
.li-el {
  margin-left: 20px;
}
.topIndexes {
  color: rgba(255, 255, 255, 0.838);
  font-family: "Roboto3";
  font-size: 20px;
  transition: all 0.7s ease;
}
.topIndexes:hover {
  color: rgb(187, 187, 66);
}
.activeyell {
  color: rgb(193, 193, 56);
}
.descrDiv {
  width: 93%;
  margin: 25px auto;
  color: white;
  font-family: "Roboto1";
}
.pDescr {
  margin-top: 20px;
}
.DivBlock {
  width: 90%;
  height: 380px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block {
  width: 45%;
  height: 150px;
  background-color: rgb(34, 34, 36);
  margin-top: 20px;
  border-radius: 18px;
  border-top: 2px solid rgba(255, 255, 255, 0.225);
  display: flex;
  align-items: center;
  position: relative;
}

.fa-connectdevelop,
.fa-code,
.fa-mobile-screen,
.fa-camera-retro {
  color: yellow;
  font-size: 50px;
  margin-left: 20px;
}
.titleSmall {
  font-size: 18px;
  font-family: "Roboto2";
  color: white;
  margin: 15px;
}
.pdescr2 {
  font-size: 16px;
  font-family: "Roboto4";
  color: rgba(255, 255, 255, 0.541);
  margin: 15px;
  line-height: 20px;
}
.IconTop {
  height: 80px;
}
.DivUnion2 {
  width: 90%;
  height: 150px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.titleSmall2,
.titleSmall3 {
  font-size: 18px;
  font-family: "Roboto2";
  color: white;
  margin: 15px;
  text-align: right;
}
.pdescr3,
.pdescr4 {
  font-size: 16.6px;
  font-family: "Roboto4";
  color: rgba(255, 255, 255, 0.541);
  margin: 15px;
  line-height: 20px;
}

.IconBlock {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 1%;
  top: -25%;
  border-radius: 12px;
}
.IconBlock2 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: -25%;
  border-radius: 12px;
}
.imagesize {
  width: 100%;
  border-radius: 12px;
}
.introname {
  display: none;
}
.burgerBar {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px;
  display: none;
}
.bar {
  width: 90%;
  height: 2px;
  background-color: rgba(255, 255, 0, 0.952);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.one {
  top: 30%;
}
.two {
  top: 50%;
}
.three {
  top: 70%;
}
.burgerBar.activeBar .one {
  transform: translateX(-50%) rotate(45deg);
  top: 50%;
}
.burgerBar.activeBar .two {
  opacity: 0;
}
.burgerBar.activeBar .three {
  transform: translateX(-50%) rotate(-45deg);
  top: 50%;
}
.map-container {
  width: 90%;
  height: 350px;
  margin: 40px auto;
  border-radius: 12px;
}
.myMap {
  filter: grayscale(100%) invert(100%);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.FormDiv {
  width: 90%;
  height: 320px;
  margin: 30px auto;
  position: relative;
}
.UserName {
  width: 43%;
  height: 50px;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgba(255, 255, 255, 0.422);
  font-size: 20px;
  font-family: "Roboto1";
  outline: none;
  padding-left: 10px;
  color: white;
  margin-right: 43px;
  margin-top: 10px;
}
.messageCSS {
  width: 93%;
  height: 150px;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgba(255, 255, 255, 0.422);
  font-size: 20px;
  font-family: "Roboto1";
  outline: none;
  padding-left: 10px;
  color: white;
  display: flex;
  justify-content: start;
  margin-top: 30px;
  resize: none;
}
.textemail {
  position: absolute;
  right: 33%;
}
.Btn {
  background-color: rgb(30, 30, 30);
  font-size: 20px;
  font-family: "Roboto1";
  color: rgba(255, 255, 255, 0.721);
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  margin-top: 50px;
}
.sent {
  margin-left: 15px;
}
.openBook {
  width: 60px;
  height: 50px;
  margin-top: 50px;
  margin-left: 30px;
}
.fa-book-open {
  color: white;
  font-size: 50px;
}
.VerticalLine,
.VerticalLine2 {
  height: 50px;
  width: 3px;
  background-color: gray;
  margin-left: 27px;
  margin-top: 20px;
}
.VerticalLine2 {
  height: 100px;
}
.Resume {
  height: 700px;
}
.Ball {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 0, 0.801);
  margin-left: 21px;
  border-radius: 50%;
}
.textBall {
  width: 500px;
  height: 100px;
  margin-left: 40px;
}
.textCSS {
  color: white;
  font-family: "Roboto3";
  font-size: 20px;
}
.Dates {
  color: rgba(255, 255, 255, 0.652);
  font-family: "Roboto4";
  font-size: 16px;
  margin: 5px 5px 5px 0;
}
.DescrCSS {
  color: rgba(255, 255, 255, 0.652);
  font-family: "Roboto4";
  font-size: 16px;
  margin: 5px 5px 5px 0;
  line-height: 23px;
}
.responsiveDesign {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}
.MoreInfoCSS {
  position: relative;
}
.MoreInfoCSS {
  width: 150px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid black;
  position: absolute;
  right: 10%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.MoreInfoCSS:hover {
  background-color: black;
}
.fontCSS {
  color: black;
  font-family: "Roboto1";
  font-size: 18px;
  line-height: 38px;
  transition: all 0.5s ease;
}
.fontCSS:hover {
  color: white;
}
.portfolioList {
  max-width: 490px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.ulPortfolio {
  display: flex;
}
.listPortfolio {
  margin-left: 15px;
}
.APorfolio {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  position: relative;
  padding: 5px 10px;
}
.APorfolio::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  background-color: rgba(255, 255, 0, 0.779);
  transition: 0.3s ease-in-out;
}

.APorfolio:hover::before {
  width: 100%;
}
